%h1 Create product

= form_for @product, url: { action: 'create' } do |f|

  .form-row
    = f.label :title
    = f.text_field :title, value: @product.title

  .form-row
    = f.label :description
    = f.text_field :description

  .form-row
    = f.label :start_date
    = f.date_select :start_date

  .form-row
    = f.label :end_date
    = f.date_select :end_date

  = f.submit
