%h1= @title

= form_for @product, url: { action: @action }, method: @method do |f|

  .form-row
    = f.label :title
    = f.text_field :title, value: @product.title

  .form-row
    = f.label :description
    = f.text_area :description, value: @product.description

  .form-row
    = f.label :start_date
    = f.date_select :start_date, value: @product.start_date

  .form-row
    = f.label :end_date
    = f.date_select :end_date, value: @product.end_date

  - if @method == :put
    .form-row
      = f.label :discontinued
      = f.check_box :discontinued, value: @product.discontinued

  .form-row
    Rate Plans
    .rate-plans
      - if @product.rate_plans.length == 0
        No rate plans
      - else
        - @product.rate_plans.each do |rate_plan|
          =link_to rate_plan.title, edit_rate_plan_path( id: rate_plan.id )
          %br

  .spacer

  = f.submit
  = link_to 'Cancel', product_index_path