%h1 Rate Plans

%table
  %th ID
  %th Product
  %th Title
  %th Description
  %th Billing Frequency
  %th Price
  %th Start Date
  %th End Date

  - @rate_plans.each do |p|
    %tr
      %td= p.id
      %td= link_to p.product.title, edit_product_path( id: p.product.id )
      %td= link_to p.title, edit_rate_plan_path( id: p.id )
      %td= p.description
      %td= p.billing_frequency
      %td= p.price
      %td= p.start_date.strftime('%m/%d/%Y') if p.start_date
      %td= p.end_date.strftime('%m/%d/%Y') if p.end_date


= link_to 'Create new rate plan', new_rate_plan_path