!!!

%html

  %head

    %title Demo App
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


  %body

  .header
    %h1= link_to 'Demo App - Ruby-on-Rails Product Manager', home_index_path

    .navrow
      = link_to 'Products', product_index_path
      = link_to 'Rate Plans', rate_plan_index_path

  .content
    - if !flash.nil?
      .flash-messages
        - flash.each do |flash_type, messages|
          - messages.each do |message|
            .flash-message{ :class => "flash-#{flash_type}" }
              %strong= message

    = yield

  .footer
    Demo App - Ruby-on-Rails Product Manager